<footer class="footer">
    <div class="footer__card">
        <p class="footer__text">© 2023 ProjectHunt</p>
        <p class="footer__text">Made by <a href="https://github.com/ImanKahlila/ProjectHunt"
                class="footer__author-link">#100Devs folx</a></p>
    </div>
</footer>

<script src="/js/main.js"></script>

<script src="https://kit.fontawesome.com/181678ba9d.js" crossorigin="anonymous"></script>

<% if (head.title==="Create Project" ) { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"
        integrity="sha512-HcBl0GSJvt4Qecm4srHapirUx0HJDi2zYXm6KUKNNUGdTIN9cBwakVZHWmRVj4MKgy1AChqhWGYcMDbRKgO0zg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/organization.js"></script>

    <script src="/js/timezone.js"></script>

    <script src="/js/technology.js"></script>
    <% } else if(head.title==="Home" ) { %>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script src="/js/carousel.js"></script>
        <% } else if(head.title==="Browse" ) { %>
            <script src="/js/browse.js"></script>
            <% } %>