<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProjectHunt</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/pages/create-project.css" />
</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <a href="/" class="header__logo">ProjectHunt</a>
            <ul class="header__menu">
                <li class="header__menu-item"><a href="/" class="header__menu-link">Home</a></li>
                <li class="header__menu-item"><a href="/create" class="header__menu-link">Create</a></li>
                <li class="header__menu-item"><a href="#" class="header__menu-link">Browse</a></li>
                <li class="header__menu-item"><a href="/login" class="header__menu-link">Login</a></li>
                <li class="header__menu-item"><a href="/signup" class="header__menu-link">Sign Up</a></li>
            </ul>
            <button class="header__burger-menu-btn">
                <i class="header__burger-menu-icon">
                    <img src="/img/burger-menu-icon.svg" alt="Burger Menu" class="header__burger-menu-icon-img">
                </i>
                <i class="header__burger-close-icon">
                    <img src="/img/close-menu-icon.svg" alt="Close Menu" class="header__burger-close-icon-img">
                </i>
            </button>
        </nav>
    </header>

</body>

</html>