<%- include('partials/header') -%>
    <main>
        <div class="text-center">
            <h1 class=""><a href="/profile">ProjectHunt</a></h1>
        </div>
    </main>
<%- include('partials/footer') -%>
