<section class="hero">
    <img src="/img/logo-large.png" alt="Image of three people pointing on a board and collaborating"
        class="hero__image">
    <div class="hero__container hero__container--text">
        <h1 class="hero__title">Discover Your Next Project!</h1>
        <p class="hero__paragraph">Explore a vast array of exciting projects tailored to your interests and skills. Find
            your next venture, collaborate with like-minded individuals, and propel your journey as a developer.</p>
        <a href="#" class="btn hero__btn">Browse</a>
    </div>
</section>

<section class="services">
    <h2 class="services-heading">What We Offer</h2>
    <div class="services__container">
        <div class="service">
            <div class="service__logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="72" viewBox="0 0 58 72" fill="none">
                    <path
                        d="M55.68 47.52L44.1379 36.0576C43.0939 35.0208 41.354 34.9632 40.252 35.8848L36.946 32.6016C39.382 29.376 40.832 25.344 40.832 20.9664C40.832 10.1952 32.016 1.44 21.17 1.44C10.3239 1.44 1.50793 10.1952 1.50793 20.9664C1.50793 31.7376 10.3239 40.4928 21.17 40.4928C25.52 40.4928 29.58 39.0528 32.886 36.6336L36.192 39.9168C35.264 41.0688 35.322 42.7392 36.366 43.776L47.9079 55.2384C49.0679 56.3904 50.924 56.3904 52.026 55.2384L55.7379 51.552C56.8399 50.4576 56.84 48.6144 55.68 47.52ZM21.112 34.7328C13.456 34.7328 7.24995 28.5696 7.24995 20.9664C7.24995 13.3632 13.456 7.2 21.112 7.2C28.768 7.2 34.9739 13.3632 34.9739 20.9664C34.9739 28.5696 28.768 34.7328 21.112 34.7328Z"
                        fill="#1A0F13" />
                </svg>
            </div>
            <h3 class="service__header">Browse Projects</h3>
            <p class="service__description">Discover an extensive collection of projects covering various tech skills,
                organizations, and timezones. Effortlessly search and filter projects to find the perfect fit for your
                interests.</p>
        </div>

        <div class="service">
            <div class="service__logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="83" height="104" viewBox="0 0 83 104" fill="none">
                    <path
                        d="M12.1927 46.6086C8.15057 46.6086 4.86377 49.9034 4.86377 53.9552V60.9939H24.1115V51.4592C24.1115 50.2611 24.2858 49.1046 24.6095 48.0064C23.3645 47.1078 21.8705 46.617 20.3184 46.617H12.1927V46.6086Z"
                        fill="#1A0F13" />
                    <path
                        d="M70.8073 46.6087H62.665C61.1212 46.6087 59.6189 47.0995 58.3739 47.9981C58.6976 49.088 58.8719 50.2528 58.8719 51.4509V60.9856H78.1279V53.9469C78.1279 49.8951 74.8411 46.6003 70.799 46.6003L70.8073 46.6087Z"
                        fill="#1A0F13" />
                    <path
                        d="M66.7403 44.4621C70.2103 44.4621 73.0234 41.6423 73.0234 38.1638C73.0234 34.6854 70.2103 31.8656 66.7403 31.8656C63.2702 31.8656 60.4572 34.6854 60.4572 38.1638C60.4572 41.6423 63.2702 44.4621 66.7403 44.4621Z"
                        fill="#1A0F13" />
                    <path
                        d="M16.2597 44.4621C19.7297 44.4621 22.5428 41.6423 22.5428 38.1638C22.5428 34.6854 19.7297 31.8656 16.2597 31.8656C12.7896 31.8656 9.97656 34.6854 9.97656 38.1638C9.97656 41.6423 12.7896 44.4621 16.2597 44.4621Z"
                        fill="#1A0F13" />
                    <path
                        d="M46.8286 41.5084H36.1797C30.71 41.5084 26.2612 45.9679 26.2612 51.4508V60.9855H56.7471V51.4508C56.7471 45.9679 52.2983 41.5084 46.8286 41.5084Z"
                        fill="#1A0F13" />
                    <path
                        d="M41.5001 39.3619C46.2261 39.3619 50.0574 35.5214 50.0574 30.784C50.0574 26.0465 46.2261 22.2061 41.5001 22.2061C36.774 22.2061 32.9427 26.0465 32.9427 30.784C32.9427 35.5214 36.774 39.3619 41.5001 39.3619Z"
                        fill="#1A0F13" />
                </svg>
            </div>
            <h3 class="service__header">Expand your Network</h3>
            <p class="service__description">Interact with a diverse community of developers, collaborate on projects,
                and exchange ideas to expand your network and grow together.</p>
        </div>

        <div class="service">
            <div class="service__logo star--logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="49" height="47" viewBox="0 0 49 47" fill="none">
                    <path
                        d="M0.600771 17.8989C0.214043 19.1064 0.532003 20.4088 1.44294 21.2971L9.96798 29.6461C10.3461 30.0084 10.5179 30.5431 10.4234 31.0606L8.41251 42.8424C8.19766 44.093 8.70467 45.3436 9.72732 46.094C10.3117 46.5166 10.9906 46.7323 11.6695 46.7323C12.2023 46.7323 12.7265 46.6029 13.2164 46.3441L23.7609 40.781C24.225 40.5395 24.775 40.5395 25.239 40.781L35.7836 46.3441C36.9094 46.9393 38.2414 46.8444 39.2726 46.094C40.2953 45.3436 40.8023 44.093 40.5875 42.8424L38.5765 31.0606C38.482 30.5431 38.6539 30.0084 39.032 29.6461L47.557 21.2971C48.468 20.4088 48.7859 19.1064 48.3992 17.8989C48.0039 16.6828 46.9812 15.8203 45.7266 15.6305L33.9359 13.9141C33.4203 13.8365 32.9734 13.5088 32.7414 13.043L27.4648 2.32211C26.9062 1.17502 25.7718 0.467773 24.5 0.467773C23.2281 0.467773 22.0937 1.17503 21.5351 2.32211L16.2586 13.043C16.0266 13.5088 15.5797 13.8365 15.0641 13.9141L3.27343 15.6305C2.01877 15.8203 0.996109 16.6828 0.600771 17.8989Z"
                        fill="#1A0F13" />
                </svg>
            </div>
            <h3 class="service__header">Skill Development</h3>
            <p class="service__description">Sharpen your skills by working on real-world projects, gaining practical
                experience, and honing your abilities in a supportive environment.</p>
        </div>
    </div>
</section>

<section class="featured">
    <h2 class="featured__heading">Featured Projects</h2>
    <div class="featured__container carousel">
        <img src="/img/featured--1-large.jpeg" alt="" srcset="" class="featured__image">
        <img src="/img/featured--3.png" alt="" srcset="" class="featured__image">
        <img src="/img/featured--2.png" alt="" srcset="" class="featured__image">
        <img src="/img/featured--1-large.jpeg" alt="" srcset="" class="featured__image">
        <img src="/img/featured--3.png" alt="" srcset="" class="featured__image">
        <img src="/img/featured--2.png" alt="" srcset="" class="featured__image">
    </div>
</section>

<section class="about">
    <h2 class="about__heading">Our Story</h2>
    <div class="about__container">
        <img src="/img/community--large.png" alt="" class="about__image">
        <div class="about__paragraphs">
            <p>Born from the vibrant 100Devs community, ProjectHunt emerged as a solution to a shared challenge –
                finding projects that resonate with developers' aspirations. Guided by this purpose, we embarked on a
                coding journey to simplify project discovery and foster collaboration.</p>

            <p> ProjectHunt embodies the belief that united developers can create extraordinary outcomes. Our platform,
                a testament to collective dedication, empowers developers to explore, connect, and make meaningful
                impacts.</p>

            <p> Today, ProjectHunt is a living testament to a vision fulfilled in code. Join us in this evolving
                adventure, where potential knows no bounds and projects find new life.</p>
        </div>
    </div>
</section>

<div class="community">
    <img src="/img/community--1.png" alt="Logo to code academy" srcset="" class="community__logo">
    <img src="/img/community--2.png" alt="Logo to 100 devs" srcset="" class="community__logo">
    <img src="/img/community--3.png" alt="Logo to free code camp" srcset="" class="community__logo">
    <img src="/img/community--4.png" alt="Logo to odin project" srcset="" class="community__logo">

</div>

<section class="contact">
    <h2 class="contact__title">Unite with Developers Who Share Your Passion</h2>
    <p class="contact__paragraph">Create exceptional projects, embrace challenges, and drive innovation in the tech
        realm.</p>
    <a href="/signup" class="contact__btn btn">Sign Up</a>
</section>