<%- include('partials/header') -%>
    <main>
        <section>
            <p><strong>User Name</strong>: <%= user.userName %>
            </p>
            <p><strong>Email</strong>: <%= user.email %>
            </p>
            <a href="/logout">Logout</a>
        </section>
    </main>
    <%- include('partials/footer') -%>