<% if (locals.messages && locals.messages.errors) { %>
  <% messages.errors.forEach(el=> { %>
    <div class="error-message">
      <%= el.msg %>
    </div>
    <% }) %>
      <% } %>

        <% if (locals.messages && locals.messages.info) { %>
          <% messages.info.forEach(el=> { %>
            <div class="info-message">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <div class="signin-signup">
                  <div class="signin-signup__container">
                    <h1 class="signin-signup__title">Welcome!</h1>
                    <form action="/signup" method="POST" class="signin-signup__form">
                      <label for="userName" class="signin-signup__label">User Name:</label>
                      <input type="text" id="userName" name="userName" class="signin-signup__input">

                      <label for="email" class="signin-signup__label">Email address:</label>
                      <input type="email" id="email" aria-describedby="emailHelp" name="email"
                        class="signin-signup__input">

                      <label for="password" class="signin-signup__label">Password:</label>
                      <input type="password" id="password" name="password" class="signin-signup__input">

                      <label for="confirmPassword" class="signin-signup__label">Confirm Password:</label>
                      <input type="password" id="confirmPassword" name="confirmPassword" class="signin-signup__input">

                      <button type="submit" class="btn signin-signup__button">Submit</button>
                    </form>
                  </div>
                  <img src="/img/login-grid-pic.svg" alt="" class="signin-signup__img">

                </div>