
.form__container {
    background-color: green;
    padding: 6rem;
}

.row {

}

.form {
    background-color: green;
}

.form__group
{

}

.form__input {

}

.form__label {

}

.btn {

}

.btn-submit {

}

.btn:active {

}

.btn:before, :btn:link {

}